<div class="row">
  <div class="col-6">
    <h1>Хичээл</h1>
  </div>
</div>

<table class="table table-bordered table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
